@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  @apply bg-gray-100;
}

.container {
  margin: 0 auto;
}

.page {
  @apply bg-white mx-auto my-0 w-full overflow-x-hidden shadow-xl;
  max-width: 1440px;
}

.screenshot {
  background: url('/static/images/hero-gradient.jpg') no-repeat center center / cover;
  width: 100%;
}

.feature-screenshot {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.feature-screenshot--one {
  background-image: url('/static/images/gradient-1.jpg');
}

.feature-screenshot--two {
  background-image: url('/static/images/gradient-2.jpg');
}